<div *ngIf="pelicula">
    <h2>{{pelicula.Nombre}}</h2>
    <img src="{{pelicula.Portada}}" alt="{{pelicula.Nombre}}" />
    <ul>
        <li *ngFor="let genr of pelicula.Genero">
            <p>{{genr}}</p>
        </li>
    </ul>
    <h4>{{pelicula.Valoracion}}</h4>
    <p>{{pelicula.Duracion}}</p>
    <p>{{pelicula.Descripcion}}</p>

    <app-resena-pelicula [idPelicula]="pelicula._id"></app-resena-pelicula>

    <h4>Reseñas: </h4>
    <ul>
        <li *ngFor="let resena of pelicula.Resena">
            <!-- <p>{{getUser(resena)}}<p> -->
            <p>{{resena.Titulo}}</p>
            <p>{{resena.Comentario}}</p>
            <p>{{resena.Valoracion}}</p>
        </li>
    </ul>

    <button *ngIf="authService.getRole() == 'admin'" (click)="deletePelicula()">Eliminar Pelicula</button>
    <button *ngIf="authService.getRole() == 'admin'" (click)="editPelicula(pelicula)">Editar Pelicula</button>
</div>