<article *ngIf="pelicula" class="article-container">
    <h2>{{pelicula.Nombre}}</h2>
    <img src="{{pelicula.Portada}}" alt="{{pelicula.Nombre}}" />

    <div class="contenedorIconos">
        <a href="{{pelicula.Trailer}}"><button class="button"><img class="icon" src="../../../assets/play-solid.svg" alt="play"></button></a>
        <button class="button" routerLink="/peliculas/{{pelicula._id}}" (click)="addFavoritos()"><img [ngClass]="{'fav': favoritos.includes(id)}" class="icon" src="../../../assets/heart-solid.svg" alt="heart"></button>
    </div>

    <div class="contenedorTexto">
        <h4>Valoración de los Usuarios</h4>
        <h6>{{pelicula.Valoracion}} ⭐</h6>
        <p>Duración: </p>
        <p>{{pelicula.Duracion}} minutos</p>
        <h5>Descripción</h5>
        <p>{{pelicula.Descripcion}}</p>

        <h6>Genero</h6>
        <ul class="contenedorCategorias">
            <li class="categorias" *ngFor="let genr of pelicula.Genero">
                <p class="categoria">{{genr}}</p>
            </li>
        </ul>
    </div>
    <app-resena-pelicula [idPelicula]="pelicula._id"></app-resena-pelicula>

    <h4>Reseñas: </h4>
    <div class="contenedor">
        <li *ngFor="let resena of pelicula.Resena" class="contenedorReseñas">
            <div class="reseñas" >
                <h3>{{resena.Username.Username}}</h3>
                <p class="titulo">{{resena.Titulo}}</p>
                <p>{{resena.Comentario}}</p>
                <p-rating [(ngModel)]="resena.Valoracion" [cancel]="false" [readonly]="true"></p-rating>
            </div>
        </li>
    </div>
    <div class="contenedorBotones">
        <button class="botonEliminar" *ngIf="authService.getRole() == 'admin'" (click)="deletePelicula()">Eliminar Pelicula</button>
        <button class="botonEditar" *ngIf="authService.getRole() == 'admin'" (click)="editPelicula(pelicula)">Editar Pelicula</button>
    </div>
</article>
