// para el filtro
.divinput {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    padding-top: 0.3rem;
    align-items: center;
  }
  input {
    margin: 5px;
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 300px;
  }
  select {
    margin: 5px;
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 300px;
  }