<div class="divinput">
    <input
      name="value"
      [(ngModel)]="valueF"
      id="value"
      type="text"
      (input)="filtrarDatos(filtro.value)"
      #filtro
    />
    <select (change)="filtrarCategorias(categorias.value)" #categorias>
      <option value="">Todas</option>
      <option value="Anime">Anime</option>
      <option value="Accion">Acción</option>
      <option value="Drama">Drama</option>
      <option value="Fantasia">Fantasía</option>
      <option value="Terror">Terror</option>
      <option value="Comedia">Comedia</option>
      <option value="Romance">Romance</option>
      <option value="Infantil">Infantil</option>
    </select>
</div>
<section>
    <ul>
        <li *ngFor="let serie of filtroList" routerLink="/series/{{serie._id}}">
            <img src="{{serie.Portada}}" alt="{{serie.Nombre}}" />
            <h3>{{serie.Nombre}}</h3>
            <p>{{serie.Valoracion}}</p>
        </li>
    </ul>
    
</section>
<div class="contenedorBoton">
    <button class="botonAñadir" *ngIf="authService.getRole() == 'admin'" routerLink="/gestionSeries">Añadir Serie</button>
</div>