<section class="bg-light text-center p-5">

    <div class="container-fluid">
      
      <!-- Tittle -->
      <div class="row text-muted text-center">
          <div class="col m-4">
            <h1 class="mb-4 text-uppercase title"> Elige tu Plan </h1>
            
          </div>
      </div>
      <!-- End of Tittle -->  


        <div class="row align-items-center">

          <div class="col-lg-4">
            <div class="card card-1 py-4 my-4 mx-auto">
              <div class="card-body">
                <h5 class="text-uppercase font-weight-bold mb-5"> Estándar </h5>
                <h1 class="text-uppercase price"> 5€ / Mes </h1>
                <ul class="list-unstyled">
                  <li class="text-uppercase py-3 card-list-item"> 1080p </li>
                  <li class="text-uppercase py-3 card-list-item"> Un solo dispositivo </li>
                  <li class="text-uppercase py-3 card-list-item"> Permanencia de 3 meses </li>
                  <li class="text-uppercase py-3 card-list-item border-0"> No admite descargas </li>
                </ul>
                <a routerLink="/payment" class="btn p-2 text-uppercase font-weight-bold price-card-button text-light"> Empezar </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
              <div class="card card-2 py-4 my-4 mx-auto">
                <div class="card-body">
                  <h5 class="text-uppercase font-weight-bold mb-5"> Premium </h5>
                  <h1 class="text-uppercase price"> 12'99€ / mes </h1>
                  <ul class="list-unstyled">
                    <li class="text-uppercase py-3 card-list-item"> 4K / FULL HD+ </li>
                    <li class="text-uppercase py-3 card-list-item"> Hasta 4 dispositivos a la vez </li>
                    <li class="text-uppercase py-3 card-list-item"> Perfiles personalizables </li>
                    <li class="text-uppercase py-3 card-list-item"> Disponible en cualquier parte </li>
                    <li class="text-uppercase py-3 card-list-item border-0"> Sin permanencia </li>
                  </ul>
                  <a routerLink="/payment" class="btn p-2 text-uppercase font-weight-bold price-card-button text-light"> Empezar </a>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
                <div class="card card-3 py-4 my-4 mx-auto">
                  <div class="card-body">
                    <h5 class="text-uppercase font-weight-bold mb-5"> Anual </h5>
                    <h1 class="text-uppercase price"> 119€ </h1>
                    <ul class="list-unstyled">
                      <li class="text-uppercase py-3 card-list-item"> 4K / Full HD+ </li>
                      <li class="text-uppercase py-3 card-list-item"> Varios dispositivos </li>
                      <li class="text-uppercase py-3 card-list-item"> Disponible en cualquier parte </li>
                      <li class="text-uppercase py-3 card-list-item border-0"> Comparte y gana </li>
                    </ul>
                    <a routerLink="/payment" class="btn p-2 text-uppercase font-weight-bold price-card-button text-light"> Empezar </a>
                  </div>
                </div>
              </div>
              <button class="btn despues" routerLink="/">Elegir más tarde</button>
        </div>
        
    </div>

  </section>
