<body>
    <div class="container">
        <div class="tbl_row">
            <div class="tbl_col">
                <p> Estándar con anuncios </p>
                <h3>Precio al mes 5'95€ </h3>
                <ul>
                    <li>
                        Resolución 1080p (FULL HD)
                    </li>
                    <li>
                        Calidad de vídeo muy buena
                    </li>
                    <li>
                        Admite televisor, ordenador, teléfono móvil, tablet
                    </li>
                    <li>
                        Descargas no permitidas
                    </li>
                    <button> Empieza Ahora </button>
                </ul>
            </div>
            <div class="tbl_col">
                <p> Estándar </p>
                <h3>Precio al mes 9'95€ </h3>
                <ul>
                    <li>
                        Resolución 1080p (FULL HD)
                    </li>
                    <li>
                        Calidad de vídeo muy buena
                    </li>
                    <li>
                        Admite televisor, ordenador, teléfono móvil, tablet
                    </li>
                    <li>
                        Descargas permitidas
                    </li>
                    <button> Empieza Ahora </button>
                </ul>
            </div>
            <div class="tbl_col">
                <p> Premium </p>
                <h3>Precio al mes 15'95€ </h3>
                <ul>
                    <li>
                        Resolución 4K (Ultra HD) + HDR
                    </li>
                    <li>
                        Calidad de vídeo Excepcional
                    </li>
                    <li>
                        Hasta 4 dispositivos a la vez
                    </li>
                    <li>
                        Descargas permitidas
                    </li>
                    <button> Empieza Ahora </button>
                </ul>
            </div>
        </div>
    </div>
</body>