<div *ngIf="serie">
    <h2>{{serie.Nombre}}</h2>
    <img src="{{serie.Portada}}" alt="{{serie.Nombre}}" />
    <div class="contenedorIconos">
        <button class="button"><img class="icon" src="../../../assets/play-solid.svg" alt="play"></button>
        <button class="button" routerLink="/series/{{serie._id}}" (click)="addFavoritos()"><img class="icon" src="../../../assets/heart-solid.svg" alt="heart"></button>
    </div>
    <ul>
        <li *ngFor="let genr of serie.Genero">
            <p>{{genr}}</p>
        </li>
    </ul>
    <h4>{{serie.Valoracion}}</h4>
    <p>{{serie.Descripcion}}</p>
    <ul>
        <li *ngFor="let capitulo of serie.Capitulos">
            <img src="{{capitulo.Icono}}" alt="{{capitulo.Nombre}}" />
            <p>{{capitulo.Nombre}}</p>
            <p>{{capitulo.Duracion}}</p>
            <p>{{capitulo.Temporada}}</p>
            <p>{{capitulo.Descripcion}}</p>
        </li>
    </ul>

    <app-resena-serie [idSerie]="serie._id"></app-resena-serie>

    <h4>Reseñas: </h4>
    <ul>
        <li *ngFor="let resena of serie.Resena">
            <!-- <p>{{getUser(resena)}}<p> -->
            <p>{{resena.Titulo}}</p>
            <p>{{resena.Comentario}}</p>
            <p>{{resena.Valoracion}}</p>
        </li>
    </ul>

    <button *ngIf="authService.getRole() == 'admin'" (click)="deleteSerie()">Eliminar Serie</button>
    <button *ngIf="authService.getRole() == 'admin'" (click)="editSerie(serie)">Editar Serie</button>
</div>
