footer{
    background-color: #03001C;

    div{
        color: white;
    }

    img{
        color: white;
    }

    span{
        color: white;
    }

    p{
        color: white;
    }

    h6{
        color: white;
    }
}