<body>

<div class="divinput">
    <input
      name="value"
      [(ngModel)]="valueF"
      id="value"
      type="text"
      (input)="filtrarDatos(filtro.value)"
      #filtro
    />
    <select (change)="filtrarCategorias(categorias.value)" #categorias>
      <option value="">Todas</option>
      <option value="Anime">Anime</option>
      <option value="Accion">Acción</option>
      <option value="Drama">Drama</option>
      <option value="Fantasia">Fantasía</option>
      <option value="Terror">Terror</option>
      <option value="Comedia">Comedia</option>
      <option value="Romance">Romance</option>
      <option value="Infantil">Infantil</option>
    </select>
</div>

<section class="container">
  <ul>
    <li class="container-card" *ngFor="let pelicula of filtroList" routerLink="/peliculas/{{pelicula._id}}">
      <div class="container-img">
        <img src="{{pelicula.Portada}}" alt="{{pelicula.Nombre}}" />
      </div>
      <div class="contenedorFooter">
  			<!-- <div class="contenedorBotones">
            <button class="button"><img class="icon" src="../../../assets/play-solid.svg" alt="play"></button>
            <button class="button" routerLink="/peliculas/{{pelicula._id}}"><img class="icon" src="../../../assets/heart-solid.svg" alt="heart"></button>
        </div> -->
        <h6>{{pelicula.Nombre}}</h6>
        <p>Duración: {{pelicula.Duracion}} minutos</p>
        <span *ngFor="let genr of pelicula.Genero">
          <span>{{genr}} </span>
        </span>
                <!-- <p>{{pelicula.Valoracion}}</p> -->
      </div>
            
    </li>
  </ul>
</section>

<div class="contenedorBoton">
    <button class="botonAñadir" *ngIf="authService.getRole() == 'admin'" routerLink="/gestionPeliculas">Añadir Pelicula</button> 
</div>

</body>