<form [formGroup]="peliculaForm" (ngSubmit)="onClick()">
    <div>
        <label for="Portada"> Portada </label>
        <input formControlName="Portada" type="text" id="Portada">
        <p *ngIf="(submitted && peliculaForm?.get('Portada')?.hasError('required'))">Este campo es requerido</p>
    </div>
    <div>
        <label for="Nombre"> Nombre </label>
        <input formControlName="Nombre" type="text" id="Nombre">
        <p *ngIf="(submitted && peliculaForm?.get('Nombre')?.hasError('required'))">Este campo es requerido</p>
    </div>
    <div>
        <label for="Trailer"> Tráiler </label>
        <input formControlName="Trailer" type="text" id="Trailer">
        <p *ngIf="(submitted && peliculaForm?.get('Trailer')?.hasError('required'))">Este campo es requerido</p>
    </div>
    <div>
        <label for="Duracion"> Duracion </label>
        <input formControlName="Duracion" type="number" id="Duracion">
        <p *ngIf="(submitted && peliculaForm?.get('Duracion')?.hasError('required'))">Este campo es requerido</p>
    </div>
    <div *ngFor="let genre of genres; let i=index">
        <label>
          <input type="checkbox" [checked]="pelicula.Genero.includes(genre.value)" id={{genre.value}} [value]="genre.value" (change)="onCheckboxChange($event)" />
          {{genre.name}}
        </label>
    </div>
    <div>
        <label for="Descripcion"> Descripción </label>
        <textarea formControlName="Descripcion" type="text" id="Descripcion"></textarea>
        <p *ngIf="(submitted && peliculaForm?.get('Descripcion')?.hasError('required'))">Este campo es requerido</p>
    </div>
    
    <div class="col-12">
        <button class="btn btn-primary" *ngIf="_id != ''" type="submit">Editar pelicula </button>
        <button class="btn btn-primary" *ngIf="_id == ''" type="submit">Crear pelicula </button>
    </div>
</form>

<app-preview-pelicula [pelicula]="pelicula"></app-preview-pelicula>