<article *ngIf="libro">
    
    <img src="{{libro.Portada}}" alt="{{libro.Nombre}}" />
    <div class="contenedorIconos">
        <button class="button"><img class="icon" src="../../../assets/play-solid.svg" alt="play"></button>
        <button class="button" routerLink="/libros/{{libro._id}}" (click)="addFavoritos()"><img class="icon" src="../../../assets/heart-solid.svg" alt="heart"></button>
    </div>
    <div class="contenedorTexto">
        <h1 class="nombre">{{libro.Nombre}}</h1>
        <h4 class="autor">{{libro.Autor}}</h4>
        <ul class="contenedorCategorias" >
            <li class="categorias" *ngFor="let genr of libro.Genero">
                    <p class="categoria">{{genr}}</p>
            </li>
        </ul>
        
        <p class="descripcion">{{libro.Descripcion}}</p>
        <h4 class="valoracion">{{libro.Valoracion}}</h4>
    </div>
    <div class="contenedorBotones">
        <button *ngIf="authService.getRole() == 'admin'" class="botonEditar" (click)="editLibro(libro)">Editar Libro</button>
        <button *ngIf="authService.getRole() == 'admin'" class="botonEliminar" (click)="deleteLibro()">Eliminar Libro</button>
        
    </div>
</article>
