<article *ngIf="libro"  class="article-container">
    <h2 >{{libro.Nombre}}</h2>
    <img src="{{libro.Portada}}" alt="{{libro.Nombre}}" />
    <div class="contenedorIconos">
        <button class="button"><img class="icon" src="../../../assets/play-solid.svg" alt="play"></button>
        <button class="button" routerLink="/libros/{{libro._id}}" (click)="addFavoritos()"><img id="favicon" [ngClass]="{'fav': favoritos.includes(id)}" class="icon" src="../../../assets/heart-solid.svg" alt="heart"></button>
    </div>
    <div class="contenedorTexto">
        <h4 class="autor">{{libro.Autor}}</h4>
        <h4>Valoración de los Usuarios</h4>
        <h6>{{libro.Valoracion}} ⭐</h6>
        <h5>Descripción</h5>
        <p>{{libro.Descripcion}}</p>

        <h6>Genero</h6>
        <ul class="contenedorCategorias" >
            <li class="categorias" *ngFor="let genr of libro.Genero">
                    <p class="categoria">{{genr}}</p>
            </li>
        </ul>
    </div>

    <app-resena-libro [idLibro]="libro._id"></app-resena-libro>

    <h4>Reseñas: </h4>
    <div class="contenedor">
        <li *ngFor="let resena of libro.Resena" class="contenedorReseñas">
            <div>
                <h3>{{resena.Username.Username}}</h3>
                <p class="titulo">{{resena.Titulo}}</p>
                <p>{{resena.Comentario}}</p>
                <p-rating [(ngModel)]="resena.Valoracion" [cancel]="false" [readonly]="true"></p-rating>
            </div>
        </li>
    </div>

    <div class="contenedorBotones">
        <button *ngIf="authService.getRole() == 'admin'" class="botonEditar" (click)="editLibro(libro)">Editar Libro</button>
        <button *ngIf="authService.getRole() == 'admin'" class="botonEliminar" (click)="deleteLibro()">Eliminar Libro</button>
        
    </div>
</article>
