<div class="container">
    <section class="header">
        <img src="https://cdn-icons-png.flaticon.com/512/3635/3635995.png">
        <img src="https://cdn-icons-png.flaticon.com/512/217/217425.png">
    </section>
    <section class="load">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
              <span class="sr-only"></span>
            </div>
        </div>
        <h1>Esperando autorización de pago en tu banco...</h1>
    </section>
    <section class="text">
        <div class="text-container">
            <img src="https://cdn.iconscout.com/icon/free/png-256/free-fingerprint-login-1495411-1266266.png">
            <p>Por seguridad, para finalizar esta compra debes acceder al área privada de tu banco online (en web o app), sin cerrar esta ventana, y autorizar este pago. Dispones de 7 minutos para hacerlo.</p>
        </div>
    </section>
    <section class="footer">
        <p>Si tras autorizar la compra esta ventana permanece abierta, <a routerLink="/home">pulsa aquí para continuar</a></p>
    </section>
</div>